<%- contentFor('headerCss')%>
<link rel="stylesheet" href="/css/aboutStyle.css">

<%- contentFor('headerSEO') %>
<meta name="description" content="Learn about the Sports Complex and its mission to provide a welcoming and inclusive environment for all members of the Brandeis community to pursue their fitness and recreational goals.">
<meta name="keywords" content="Sports Complex, Brandeis, fitness, recreation, community">

<%- contentFor('body')%>
<!-- Showcase image section -->
<section id="showcase">
  <div class="container">
    <h1>About Us</h1>
    <p>The Sports Complex has been a cornerstone of the Brandeis community since its founding in 1995. Our mission is to provide a welcoming and inclusive environment for all members of the Brandeis community to pursue their fitness and recreational goals.</p>
  </div>
</section>

<!-- Main content section -->
<section id="main-content">
  <div class="container">
    <p>We believe that regular physical activity is essential to overall health and wellbeing, and we are committed to making it easy and accessible for everyone. Our experienced and knowledgeable staff are here to support and motivate you on your fitness journey, whether you're just starting out or looking to take your training to the next level.</p>
    <p>At the Sports Complex, we believe in fostering a sense of community and belonging. Our members come from all walks of life and share a passion for health, wellness, and fun. We offer a wide range of programs and activities to suit every interest and fitness level, from group fitness classes to intramural sports leagues to personal training.</p>
    <p>Thank you for considering the Sports Complex as your fitness home. We look forward to welcoming you soon!</p>
  </div>
</section>
