<table class="table">
    <tbody>
        <% for(var i in data) {%>
        <tr>
            <th scope="row"><%=i%></th>
            <td><%=data[i]%></td>
        </tr>
        <% } %>
    </tbody>
</table>
