<h1>Edit User</h1>
<form action="/users/<%= user._id %>/update?_method=PUT" method="POST">
    <% if (errors && errors.length > 0) { %> <% errors.forEach(function(error) {
    %>
    <p><%= error %></p>
    <% }); %> <% } %>
    <div class="form-group">
        <label for="name">Name:</label>
        <input
            type="text"
            id="name"
            name="name"
            value="<%= user.name %>"
            class="form-control"
        />
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input
            type="email"
            id="email"
            name="email"
            value="<%= user.email %>"
            class="form-control"
        />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input
            type="password"
            id="password"
            name="password"
            class="form-control"
        />
    </div>
    <button type="submit" class="btn btn-primary">Update User</button>
</form>
